* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	transition: .35s linear;
}

body {
	font-size: 18px;
	height: 4000px;
}

.wrapper {
	max-width: 1160px;
	width: 96%;
	margin: 0 auto;
}

.button-modal {
	display: inline-block;
	padding: 7px 25px;
	color: #fc5f45;
	border-radius: 23px;
	background: transparent;
	border: 2px solid #fc5f45;
	margin: 10px 5px;
}

.button-modal:hover {
	background: #fc5f45;
	color: #fff;
}

#overlay, .modal {
	visibility: hidden;
	opacity: 0;
	transition: .3s linear;
}

#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.7);
	z-index: 99;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,20%);
	z-index: 100;
	padding: 35px 25px;
}

.modal h4 {
	font-size: 23px;
	text-align: center;
	margin-bottom: 15px;
}

.modal p {margin-bottom: 15px;}

.modal a {
	display: inline-block;
	padding: 7px 25px;
	position: relative;
	color: #fc5f45;
	border-radius: 23px;
	overflow: hidden;
	background: transparent;
	border: 2px solid #fc5f45;
}

.modal a::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background: #fc5f45;
	transition: .2s linear;
	z-index: -1;
}
.modal a:hover {color: #fff;}
.modal a:hover::after {height: 100%;}

.cancel {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #868686;
	box-shadow: 0px 0px 7px 3px rgba(0,0,0,.1);
	cursor: pointer;
}

.cancel::before, .cancel::after {
	content: '';
    position: absolute;
    top: 5px;
    width: 2px;
    height: 20px;
    background: #fff;
}

.cancel::before {
	right: 14px;
	transform: rotate(-45deg);
}

.cancel::after {
	left: 14px;
	transform: rotate(45deg);
}

#overlay.open-overlay, .modal.open-modal {
	opacity: 1;
	visibility: visible;
}

.modal.open-modal {transform: translate(-50%,-50%);}