*::-webkit-input-placeholder {
  color: #fff;
  opacity: .5; }

*:-moz-placeholder {
  color: #fff;
  opacity: .5; }

*::-moz-placeholder {
  color: #fff;
  opacity: .5; }

*:-ms-input-placeholder {
  color: #fff;
  opacity: .5; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  border-color: red; }

body input:required:valid,
body textarea:required:valid {
  border-color: green; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear; }

li {
  list-style: none; }

html {
  overflow-x: hidden; }

body {
  font-size: 15px;
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  color: #000;
  background: #f7f7f7;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  max-width: 1390px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative; }
  .wrapper-screen {
    min-height: 550px;
    height: 100%; }
  .wrapper-line {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%; }
    .wrapper-line span, .wrapper-line::after, .wrapper-line::before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: rgba(0, 0, 0, 0.1);
      z-index: 2;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0); }
    .wrapper-line span {
      left: 50%; }
    .wrapper-line::after {
      left: 71%; }
    .wrapper-line::before {
      left: 29%; }

.section {
  padding: 84px 0 40px;
  background-color: #f7f7f7 !important; }
  .section-bg {
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 100%;
    height: 100%;
    -webkit-background-size: cover !important;
            background-size: cover !important;
    background-position: center !important;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 1360px;
    z-index: 1; }
  .section-img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    margin: auto;
    max-height: 90%;
    z-index: 2; }
  .section-descr {
    position: relative;
    z-index: 10;
    max-width: 1030px;
    margin: 0 auto;
    padding: 145px 0 0 240px; }
  .section-title h1 {
    margin-bottom: 60px;
    font-size: 56px;
    line-height: 1.14; }
  .section-nav {
    position: absolute;
    left: 0;
    top: 158px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .section-nav p {
      font-weight: normal;
      font-size: 32px;
      color: #000;
      margin: 0 17px;
      line-height: normal; }
      .section-nav p span {
        -webkit-transform: translate(0, -10px);
            -ms-transform: translate(0, -10px);
                transform: translate(0, -10px);
        display: inline-block; }

.arrow-page {
  position: absolute;
  z-index: 10; }
  .arrow-page a {
    color: #000;
    display: block; }
  .arrow-page p {
    font-size: 14px;
    font-weight: 600; }
  .arrow-page img {
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear; }

.arrow-right img {
  height: 24px;
  width: 40px; }

.arrow-bottom img {
  height: 40px;
  width: 24px; }

#pp-nav {
  display: none !important; }

/* -- modal -- */
.modal {
  width: 100%;
  max-width: 620px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  z-index: 99999;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .modal-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
  .modal-left {
    width: 45.163%;
    padding: 40px; }
    .modal-left div {
      margin-bottom: 40px; }
      .modal-left div h4 {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500; }
      .modal-left div p {
        font-size: 12px;
        color: #262626;
        line-height: 1.67; }
  .modal-right {
    width: 54.837%;
    padding: 40px; }
  .modal-input {
    margin-bottom: 16px; }
    .modal-input label {
      margin-bottom: 1px;
      line-height: 2;
      font-size: 11px;
      line-height: 2;
      font-weight: bold;
      text-transform: uppercase;
      display: block; }
    .modal-input input {
      height: 36px;
      padding: 5px 10px;
      color: #000;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      border: 1px solid #e1e1e1;
      display: block;
      width: 100%; }
  .modal .submit {
    margin: 8px 0 24px;
    display: block;
    width: 100%;
    height: 36px;
    background: #f3584a;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    text-align: center;
    border: none;
    font-size: 11px;
    line-height: 2;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 7px 10px; }
  .modal-check {
    position: relative;
    padding-left: 26px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap; }
    .modal-check p {
      font-size: 12px;
      line-height: 1.67;
      color: #f3584a; }
      .modal-check p a {
        color: #f3584a; }
    .modal-check .checkmark {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 16px;
      height: 16px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      border: 1px solid #d6d6d6; }
    .modal-check input {
      position: absolute;
      opacity: 0;
      cursor: pointer; }
      .modal-check input:checked ~ .checkmark {
        background: #f3584a;
        border-color: #f3584a; }
  .modal-title {
    margin-bottom: 40px;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33; }
  .modal-wrap {
    padding: 170px 20px 40px; }
  .modal-descr {
    max-width: 320px;
    margin: 0 auto;
    text-align: center; }
    .modal-descr .modal-title {
      padding-bottom: 20px;
      margin-bottom: 16px;
      position: relative; }
      .modal-descr .modal-title::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 60px;
        margin-left: -30px;
        height: 4px;
        background: #f3584a; }
    .modal-descr p {
      margin-bottom: 50px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.67;
      color: #000; }
    .modal-descr img {
      max-width: 210px; }
  .modal.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }

.cancel {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 26px;
  cursor: pointer; }

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .modal-overlay.open-overlay {
    visibility: visible;
    opacity: 1; }

/* -- header -- */
.menu-bar span, .menu-bar span:before, .menu-bar span:after {
  display: block;
  height: 3px;
  width: 32px;
  position: absolute;
  top: 50%;
  margin-top: -2px;
  left: 0;
  background: #000; }

.menu-bar {
  width: 32px;
  position: absolute;
  right: 15px;
  top: 50%;
  -webkit-transform: translate(0, -50%) rotate(-180deg);
      -ms-transform: translate(0, -50%) rotate(-180deg);
          transform: translate(0, -50%) rotate(-180deg);
  height: 25px;
  z-index: 1000;
  cursor: pointer;
  display: none; }
  .menu-bar span {
    width: 25px; }
    .menu-bar span:after {
      content: '';
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      margin-top: 7px;
      margin-left: 0; }
    .menu-bar span:before {
      content: '';
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      margin-top: -9px; }

.open-menu .menu-bar span {
  background: transparent; }
  .open-menu .menu-bar span:after {
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    margin-top: 0; }
  .open-menu .menu-bar span:before {
    -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
            transform: rotate(135deg);
    margin-top: 0; }

.header {
  height: 84px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 11px 0 17px;
  background: #f7f7f7;
  z-index: 100; }
  .header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  .header-wrap {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header-logo {
    margin-right: 20px; }
    .header-logo img {
      max-width: 211px;
      width: 100%; }
  .header-menu {
    font-size: 0; }
    .header-menu li {
      display: inline-block;
      margin: 0 6px; }
      .header-menu li a {
        font-size: 14px;
        font-weight: 600;
        color: #000;
        display: inline-block;
        padding: 10px; }
        .header-menu li a:hover {
          color: #f3584a; }
      .header-menu li.header-drop {
        margin-right: 14px;
        position: relative; }
        .header-menu li.header-drop a {
          padding-right: 15px;
          position: relative; }
          .header-menu li.header-drop a::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            width: 0;
            height: 0;
            margin-top: -3px;
            border-top: 6px solid #f3584a;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent; }
        .header-menu li.header-drop ul {
          display: block;
          background: #fff;
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: 10px;
          padding: 18px 24px 21px;
          min-width: 290px;
          -webkit-transition: .2s linear;
          -o-transition: .2s linear;
          transition: .2s linear;
          opacity: 0;
          visibility: hidden; }
          .header-menu li.header-drop ul li {
            display: block;
            padding: 0;
            margin: 0; }
            .header-menu li.header-drop ul li a {
              padding: 0;
              line-height: 2.4;
              font-weight: 500;
              font-size: 15px;
              display: block; }
              .header-menu li.header-drop ul li a::after {
                display: none; }
        .header-menu li.header-drop:hover ul {
          opacity: 1;
          visibility: visible; }
  .header-phone {
    margin-right: 20px; }
    .header-phone a {
      color: #000;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.63;
      white-space: nowrap; }
      .header-phone a:hover {
        color: #f3584a; }
    .header-phone p {
      line-height: 2.17;
      font-size: 12px;
      font-weight: 500;
      color: #9b9b9b; }
  .header-modal a {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 7px 15px;
    border: 1px solid #f3584a;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    color: #000;
    text-transform: uppercase;
    white-space: nowrap; }
    .header-modal a span {
      margin-right: 16px;
      font-size: 11px;
      font-weight: bold;
      line-height: 2; }
    .header-modal a img {
      max-width: 10px; }

/* -- main -- */
.main .wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.main .arrow-right {
  top: 50%;
  right: 74px;
  -webkit-transform: translate(50%, -50%);
      -ms-transform: translate(50%, -50%);
          transform: translate(50%, -50%); }
  .main .arrow-right p {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .main .arrow-right img {
    -webkit-transform: translate(-5px, 100%);
        -ms-transform: translate(-5px, 100%);
            transform: translate(-5px, 100%); }
  .main .arrow-right:hover img {
    -webkit-transform: translate(5px, 100%);
        -ms-transform: translate(5px, 100%);
            transform: translate(5px, 100%); }

.main .arrow-bottom {
  left: 50%;
  bottom: 40px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  text-align: center; }
  .main .arrow-bottom p {
    margin-top: 24px; }
  .main .arrow-bottom:hover img {
    -webkit-transform: translate(0, 10px);
        -ms-transform: translate(0, 10px);
            transform: translate(0, 10px); }

.main-descr {
  text-align: center;
  position: relative;
  z-index: 10;
  margin: auto;
  max-width: 890px;
  width: 100%;
  padding-top: 48px; }
  .main-descr h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 1.17;
    padding-bottom: 28px;
    margin-bottom: 20px;
    position: relative; }
    .main-descr h1::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 4px;
      width: 60px;
      margin-left: -30px;
      background: #f3584a; }
  .main-descr p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    max-width: 600px;
    margin: 0 auto 110px; }
    .main-descr p span {
      display: block; }

.main-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 890px;
  margin: 0 auto; }

.main-col {
  width: 33.333%;
  padding-bottom: 48px;
  cursor: pointer; }
  .main-col__img {
    height: 64px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 19px;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear; }
    .main-col__img svg .gog path {
      -webkit-transition: .2s linear;
      -o-transition: .2s linear;
      transition: .2s linear; }
  .main-col p {
    margin: 0 auto;
    max-width: 180px;
    font-size: 14px;
    line-height: 1.43;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear; }
  .main-col:hover .main-col__img {
    -webkit-transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
            transform: translate(0, -20px); }
  .main-col:hover svg .gog path {
    fill: #f3584a; }
  .main-col:hover p {
    color: #f3584a; }

/* -- footer -- */
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #f7f7f7;
  min-height: 40px;
  z-index: 99;
  padding: 9px 0; }
  .footer-content {
    position: static; }
  .footer .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer p {
    font-size: 12px;
    line-height: 1.83;
    font-weight: 500;
    color: #a8a8a8; }

/* -- metalrolling -- */
.card-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.card-col {
  width: 33.333%;
  margin-bottom: 30px; }
  .card-col__wrap {
    position: relative;
    margin-right: 12px;
    height: 100%; }
    .card-col__wrap a {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 10; }
    .card-col__wrap::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 4px;
      background: #f3584a;
      -webkit-transition: .3s linear;
      -o-transition: .3s linear;
      transition: .3s linear; }
  .card-col__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover !important;
            background-size: cover !important;
    background-position: center !important;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
    opacity: 0;
    visibility: hidden; }
    .card-col__img::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4); }
  .card-col__descr {
    padding: 20px 20px 12px 0;
    position: relative;
    z-index: 2;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear; }
    .card-col__descr h3 {
      margin-bottom: 8px;
      line-height: 1.63;
      font-size: 16px;
      font-weight: 500;
      max-width: 200px;
      -webkit-transition: .3s linear;
      -o-transition: .3s linear;
      transition: .3s linear; }
    .card-col__descr p {
      margin-bottom: 8px;
      font-size: 12px;
      font-weight: bold;
      line-height: 2.17;
      max-width: 200px;
      -webkit-transition: .3s linear;
      -o-transition: .3s linear;
      transition: .3s linear; }
    .card-col__descr img {
      max-width: 26px;
      -webkit-transition: .3s linear;
      -o-transition: .3s linear;
      transition: .3s linear;
      opacity: 0;
      visibility: hidden; }
  .card-col__wrap:hover::after {
    left: 30px; }
  .card-col__wrap:hover .card-col__img {
    visibility: visible;
    opacity: 1; }
  .card-col__wrap:hover .card-col__descr {
    padding-left: 30px; }
    .card-col__wrap:hover .card-col__descr h3, .card-col__wrap:hover .card-col__descr p {
      color: #fff; }
    .card-col__wrap:hover .card-col__descr img {
      opacity: 1;
      visibility: visible; }

/* -- metalworking -- */
.metalworking .wrapper {
  height: auto; }

.metalworking .card-col__descr h3 {
  min-height: 78px; }

/* -- delivery -- */
.delivery .wrapper {
  height: auto;
  padding: 0; }

.delivery .section-nav, .delivery .section-title h1 {
  padding-left: 15px; }

.delivery-descr {
  position: relative;
  z-index: 10; }
  .delivery-descr::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    width: 100%;
    height: 420px; }

.delivery-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
  z-index: 10; }

.delivery-col {
  width: 25%;
  margin-bottom: 40px; }
  .delivery-col__wrap {
    margin: 0 20px;
    background: #fff;
    position: relative;
    padding: 30px 40px;
    overflow: hidden;
    height: 100%; }
    .delivery-col__wrap::after {
      content: '';
      position: absolute;
      bottom: -74px;
      left: -15%;
      width: 130%;
      background: #4a4a4a;
      height: 240px;
      -webkit-transform: rotate(-7deg);
          -ms-transform: rotate(-7deg);
              transform: rotate(-7deg); }
    .delivery-col__wrap p, .delivery-col__wrap span, .delivery-col__wrap img, .delivery-col__wrap h3 {
      position: relative;
      z-index: 1; }
    .delivery-col__wrap h3 {
      margin-bottom: 16px;
      font-size: 16px;
      font-weight: bold;
      line-height: 1.88; }
    .delivery-col__wrap p {
      margin-bottom: 16px;
      font-size: 13px;
      line-height: 1.85;
      max-width: 155px; }
    .delivery-col__wrap span {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.6; }
  .delivery-col__img {
    text-align: center;
    position: relative;
    height: 160px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .delivery-col__img::after {
      content: '';
      position: absolute;
      bottom: 22px;
      left: 0;
      background: #f3584a;
      height: 4px;
      width: 60px;
      z-index: 1; }
    .delivery-col__img img {
      margin: auto; }
  .delivery-col__bottom p {
    font-size: 18px;
    color: #fff;
    line-height: 1.67;
    font-weight: bold;
    margin: 0; }
  .delivery-col__bottom span {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.54; }

.delivery-card {
  padding-bottom: 40px;
  width: 33.333%; }
  .delivery-card__wrap {
    margin: 0 20px;
    border: 1px solid #e1e1e1;
    padding: 30px 35px 30px 40px;
    height: 100%;
    background: #fff; }
  .delivery-card__top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px; }
    .delivery-card__top div {
      width: 64px;
      margin-right: 15px; }
    .delivery-card__top h4 {
      font-weight: 500;
      line-height: 1.43;
      font-size: 14px;
      max-width: 155px; }
  .delivery-card p {
    font-size: 13px;
    line-height: 1.54; }

/* -- contact -- */
.contact .wrapper {
  height: auto; }

.contact-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 50%;
  bottom: -100px;
  width: 100%;
  max-width: 1130px;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  z-index: 99; }

.contact-card {
  max-width: 253px;
  width: 100%;
  background: #fff;
  padding: 33px 35px 195px 40px;
  position: relative; }
  .contact-card h3 {
    margin-bottom: 17px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5; }
    .contact-card h3 img {
      max-width: 12px; }
  .contact-card div {
    margin-bottom: 17px; }
    .contact-card div span {
      line-height: 1.67;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6); }
    .contact-card div p {
      font-size: 14px;
      line-height: 1.71; }
      .contact-card div p a {
        color: #000; }
    .contact-card div.contact-card__img {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 195px;
      margin: 0; }
      .contact-card div.contact-card__img img {
        width: 100%; }
      .contact-card div.contact-card__img div {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        background-color: rgba(0, 0, 0, 0.43);
        margin: 0;
        -webkit-transition: .3s linear;
        -o-transition: .3s linear;
        transition: .3s linear;
        opacity: 0;
        visibility: hidden;
        cursor: pointer; }
        .contact-card div.contact-card__img div img {
          margin: auto;
          max-width: 38px; }
      .contact-card div.contact-card__img:hover div {
        opacity: 1;
        visibility: visible; }

.map, #map {
  height: 665px; }

.map {
  position: relative; }
  .map .section-descr {
    position: absolute;
    top: 0;
    width: 100%;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    z-index: 99; }

.managers .wrapper {
  padding: 140px 0 0;
  max-width: 1360px;
  background: #fff; }

.managers-wrap {
  max-width: 1160px;
  padding: 0 15px;
  margin: 0 auto; }

.managers h2 {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.33; }

.managers-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.managers-col {
  width: 25%;
  margin-bottom: 60px; }
  .managers-col div {
    max-width: 230px;
    margin-right: 10px; }
    .managers-col div img {
      margin-bottom: 16px; }
    .managers-col div h3 {
      margin-bottom: 8px;
      line-height: 1.5;
      font-weight: bold;
      font-size: 16px; }
    .managers-col div span {
      display: block;
      margin-bottom: 8px;
      line-height: 1.67;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6); }
    .managers-col div p {
      font-size: 14px;
      line-height: 1.71; }
      .managers-col div p a {
        color: #000; }

/* -- about -- */
.about .wrapper {
  height: auto;
  min-height: auto; }

.about-top {
  height: 184px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px; }
  .about-top .section-descr {
    padding-top: 0 !important;
    width: 100%; }
  .about-top .section-title h1 {
    margin: 0 !important; }
  .about-top .section-nav {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); }

.about-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 40px 115px 30px;
  background: #fff; }

.about-left {
  width: 25%;
  padding-right: 20px; }
  .about-left h3 {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.88;
    max-width: 210px; }
  .about-left div {
    margin-bottom: 16px;
    max-width: 210px; }
    .about-left div p {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.6; }
    .about-left div span {
      font-size: 13px;
      line-height: 1.85; }

.about-content {
  width: 52%; }
  .about-content__img {
    position: relative;
    margin-bottom: 55px; }
    .about-content__img div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: center; }
      .about-content__img div p {
        margin: auto;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.15; }
        .about-content__img div p span {
          display: block;
          font-size: 30px;
          font-weight: bold; }
  .about-content h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.33;
    margin-bottom: 16px; }
  .about-content p {
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 1.6;
    color: #262626; }

.about-right {
  width: 23%;
  padding-left: 55px; }
  .about-right div {
    margin-bottom: 32px; }
    .about-right div img {
      margin-bottom: 16px; }
    .about-right div h3 {
      margin-bottom: 8px;
      font-size: 18px;
      font-weight: 500;
      line-height: 1.67; }
    .about-right div p {
      font-size: 15px;
      line-height: 1.6;
      color: #262626; }
    .about-right div a {
      font-size: 11px;
      text-transform: uppercase;
      line-height: 2;
      font-weight: bold;
      color: #000;
      border: 1px solid #f3584a;
      padding: 7px 30px;
      -webkit-border-radius: 2px;
              border-radius: 2px;
      display: inline-block;
      margin-top: 16px; }

.about-gallery {
  padding: 30px 0 30px; }
  .about-gallery__main {
    width: 100%;
    display: block; }
    .about-gallery__main img {
      width: 100%; }
  .about-gallery__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    margin-top: 6px; }
    .about-gallery__row a {
      margin-right: 8px; }
      .about-gallery__row a:last-child {
        margin-right: 0; }

.lb-data .lb-details {
  display: none !important; }

.lightbox .lb-image {
  border: none; }

.lb-dataContainer {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

.lb-nav {
  top: auto;
  bottom: -35px; }
  .lb-nav a {
    opacity: 1 !important; }
    .lb-nav a.lb-prev {
      background: url(../img/arrow-left.svg) left 100% no-repeat; }
    .lb-nav a.lb-next {
      background: url(../img/arrow-right.svg) right 100% no-repeat; }

.lb-data .lb-close {
  background: url(../img/close.svg) center 100% no-repeat;
  opacity: 1;
  width: 40px;
  height: 40px; }

/* -- content -- */
.close {
  position: absolute;
  top: 50%;
  right: 113px;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 9; }
  .close img {
    max-width: 40px; }

.page .wrapper {
  padding: 0;
  max-width: 1360px; }

.page-top {
  position: relative;
  margin-top: 84px;
  padding: 0 15px; }
  .page-top__wrap {
    max-width: 1050px;
    position: relative;
    margin: 0 auto;
    padding: 60px 15px 60px 240px; }
  .page-top .section-nav {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    z-index: 9; }
  .page-top .section-title {
    z-index: 9;
    position: relative; }
    .page-top .section-title h1 {
      margin: 0;
      font-size: 48px;
      line-height: 1.33; }

.page-content {
  background: #fff; }
  .page-content__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    max-width: 1050px;
    position: relative;
    margin: 0 auto;
    padding: 40px 15px 25px; }
  .page-content__left {
    width: 22%;
    padding-right: 20px; }
    .page-content__left ul li {
      padding: 8px 0; }
      .page-content__left ul li a {
        font-size: 16px;
        font-weight: bold;
        line-height: 1.5;
        color: #A8A8A8;
        display: block; }
        .page-content__left ul li a.active, .page-content__left ul li a:hover {
          color: #000;
          padding-top: 8px;
          border-top: 4px solid #000; }
  .page-content__center {
    width: 60%; }
    .page-content__center-all {
      padding: 0 15px; }
  .page-content__gallery {
    text-align: center; }
    .page-content__gallery a img {
      margin: 0 7.5px 15px; }
  .page-content__right {
    width: 18%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
    .page-content__right-col {
      max-width: 170px;
      margin-bottom: 60px; }
      .page-content__right-col img {
        margin-bottom: 16px; }
      .page-content__right-col p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.67;
        margin-bottom: 8px; }
      .page-content__right-col span {
        font-size: 15px;
        line-height: 1.6; }
      .page-content__right-col a {
        font-size: 11px;
        text-transform: uppercase;
        line-height: 2;
        font-weight: bold;
        -webkit-border-radius: 2px;
                border-radius: 2px;
        max-width: 124px;
        color: #000;
        display: block;
        margin-top: 16px;
        border: 1px solid #f3584a;
        text-align: center;
        padding: 7px 16px; }
        .page-content__right-col a.button-download {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row nowrap;
              -ms-flex-flow: row nowrap;
                  flex-flow: row nowrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          text-align: left;
          color: #fff;
          background: #f3584a; }
          .page-content__right-col a.button-download span {
            margin-right: 16px;
            font-size: 11px;
            line-height: 2; }
          .page-content__right-col a.button-download img {
            margin: 0; }
  .page-content__info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    margin-bottom: 40px;
    border: 1px solid #e1e1e1;
    padding: 30px 20px 0 30px; }
    .page-content__info-col {
      width: 33.333%;
      padding: 0 10px 30px; }
      .page-content__info-col div {
        max-height: 70px;
        margin-bottom: 15px; }
      .page-content__info-col p {
        font-size: 15px;
        font-weight: bold;
        line-height: 1.6;
        max-width: 155px; }
  .page-content__text {
    margin-bottom: 40px;
    font-size: 15px;
    line-height: 1.6; }
  .page-content__table-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid #f3584a; }
    .page-content__table-top p {
      text-transform: uppercase;
      line-height: 3.64;
      font-size: 11px;
      font-weight: bold; }
  .page-content__table-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #d8d8d8; }
    .page-content__table-col:last-child {
      border: none; }
    .page-content__table-col ul, .page-content__table-col div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
    .page-content__table-col ul li {
      padding-left: 24px;
      margin-right: 25px;
      position: relative; }
      .page-content__table-col ul li:last-child {
        margin-right: 5px; }
      .page-content__table-col ul li::after {
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -6.5px;
        left: 0;
        width: 13px;
        height: 13px;
        background: url(../img/diametr.svg);
        -webkit-background-size: contain;
                background-size: contain;
        background-repeat: no-repeat;
        background-position: center; }
    .page-content__table-col div p {
      font-size: 15px;
      line-height: 1.6;
      font-weight: bold; }
      .page-content__table-col div p.text-red {
        color: #f3584a; }
      .page-content__table-col div p.text-line {
        color: #9B9B9B;
        text-decoration: line-through;
        margin-left: 38px; }

@media only screen and (max-height: 850px) {
  .section-descr {
    padding-top: 50px; }
  .section-nav {
    top: 63px; } }

@media only screen and (max-height: 800px) {
  .main .arrow-bottom {
    bottom: 5px; }
    .main .arrow-bottom p {
      margin-top: 10px; }
  .section-title h1 {
    margin-bottom: 40px; }
  .card-col {
    margin-bottom: 15px; } }

@media only screen and (max-height: 700px) {
  .main-descr p {
    margin-bottom: 80px; } }

@media only screen and (max-width: 1400px) {
  .header-logo {
    margin-right: 0; }
  .header-menu li a {
    padding: 10px 5px; }
  .header-menu li.header-drop {
    margin-right: 6px; }
  .header-phone {
    margin-right: 5px; } }

@media only screen and (max-width: 1260px) {
  .menu-bar {
    display: block; }
  .section {
    padding: 72px 0 0; }
  .delivery {
    padding-bottom: 40px; }
  .header {
    padding: 10px 0;
    height: 72px; }
    .header-wrap {
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .header-modal {
      margin: 0 50px 0 20px; }
    .header-menu {
      display: none;
      position: fixed;
      top: 72px;
      left: 0;
      width: 100%;
      text-align: center;
      background: #f7f7f7;
      padding: 30px 0; }
      .header-menu li {
        display: block;
        margin: 0 !important; }
        .header-menu li a {
          padding: 8px 0 !important;
          display: block; }
        .header-menu li.header-drop a::after {
          display: none; }
        .header-menu li.header-drop ul {
          display: none; }
  .main .arrow-right {
    right: 15px; }
  .about-row {
    padding: 40px 25px 60px; }
  .page-top {
    margin-top: 72px; } }

@media only screen and (max-width: 980px) {
  .main .arrow-right {
    display: none; }
  .section-descr {
    padding: 45px 0 0 200px; }
  .section-title h1 {
    margin-bottom: 35px; }
  .section-nav {
    top: 58px; }
  .card-col__wrap {
    margin-right: 0; }
  .delivery-col {
    width: 50%; }
  .delivery .section-bg {
    height: 70%; }
  .about-left {
    width: 100%; }
  .about-content {
    width: 66.666%; }
  .about-right {
    width: 33.333%; }
  .close {
    right: 0; }
  .page-top__wrap {
    padding: 60px 15px 60px 180px; }
  .page-top .section-title h1 {
    font-size: 34px; }
  .page-content__left {
    width: 26%; }
  .page-content__center {
    width: 56%; }
    .page-content__center-all {
      padding: 0 25px 0 0; }
  .page-content__table ul {
    overflow-x: auto;
    max-width: 300px; } }

@media only screen and (max-width: 800px) {
  .page-content__row {
    padding: 25px 15px 5px; }
  .page-content__left, .page-content__center, .page-content__right {
    width: 100%;
    margin-bottom: 25px; }
  .page-content__center {
    text-align: left; }
    .page-content__center-all {
      padding: 0; }
  .page-content__gallery a img {
    margin: 0 15px 15px 0; }
  .page-content__right {
    display: block; }
  .page-content__left ul li a.active, .page-content__left ul li a:hover {
    padding-top: 0;
    border: none; }
  .page-content__right-col {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    max-width: 240px;
    margin-bottom: 40px; }
    .page-content__right-col p {
      margin-bottom: 15px; }
  .page-content__right-img {
    min-width: 52px;
    max-width: 52px;
    margin-right: 16px; }
  .page-content__table {
    margin-bottom: 40px; }
    .page-content__table-col:last-child {
      border-bottom: 1px solid #d8d8d8; }
    .page-content__table-col ul {
      max-width: 100%; } }

@media only screen and (max-width: 767px) {
  .section-img {
    display: none; }
  .section-nav {
    display: none; }
  .section-descr {
    padding: 45px 0 0 0; }
  .section-title h1 {
    font-size: 34px; }
  .main .wrapper {
    display: block; }
  .main-descr {
    padding: 60px 0 0; }
    .main-descr h1 {
      font-size: 34px;
      margin-bottom: 16px;
      padding-bottom: 20px; }
  .main .arrow-bottom {
    position: relative;
    left: auto;
    bottom: auto;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0); }
  .metalrolling .wrapper, .metalworking .wrapper {
    padding: 0; }
  .metalrolling .section-title, .metalworking .section-title {
    padding: 0 15px; }
  .delivery .section-bg {
    height: 50%; }
  .delivery-card {
    width: 100%; }
    .delivery-card__wrap {
      background: #f7f7f7; }
  .delivery-descr::after {
    display: none; }
  .card-col__wrap::after {
    left: 15px; }
  .card-col__descr {
    padding-left: 15px; }
  .managers-col {
    width: 33.333%; }
  .about-content, .about-right {
    width: 100%; }
  .about-right {
    padding-left: 0; }
  .about-content__img {
    margin-bottom: 20px; }
  .about-content h2 {
    font-size: 22px; }
  .about-content p {
    margin-bottom: 15px; }
  .page-top__wrap {
    padding: 60px 0; } }

@media only screen and (max-width: 600px) {
  .wrapper-screen {
    margin-bottom: 40px; }
  .wrapper-line::after, .wrapper-line::before {
    display: none; }
  .section {
    padding: 60px 0 92px; }
    .section-bg {
      height: 310px; }
      .section-bg__mob {
        height: 152px; }
    .section-title {
      min-height: 152px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      text-align: center;
      margin-bottom: 40px; }
      .section-title h1 {
        margin: auto;
        font-size: 24px; }
    .section-descr {
      padding: 0; }
  .header {
    padding: 5px 0 15px;
    height: 60px; }
    .header-logo {
      max-width: 150px; }
    .header-wrap {
      display: none;
      position: fixed;
      top: 60px;
      left: 0;
      width: 100%;
      background: #f7f7f7;
      padding: 60px 15px 15px;
      text-align: center; }
    .header-menu {
      display: block;
      position: static;
      padding: 0 0 70px; }
    .header-phone {
      margin: 0 0 16px; }
    .header-modal {
      margin: 0; }
      .header-modal a {
        text-align: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative; }
        .header-modal a span {
          margin: 0; }
        .header-modal a img {
          position: absolute;
          right: 16px;
          top: 50%;
          -webkit-transform: translate(0, -50%);
              -ms-transform: translate(0, -50%);
                  transform: translate(0, -50%); }
  .main .wrapper {
    min-height: 100%;
    height: auto; }
  .main-descr {
    padding-top: 0; }
    .main-descr h1 {
      font-size: 24px;
      line-height: 1.33; }
    .main-descr p {
      margin-bottom: 0; }
    .main-descr__wrap {
      min-height: 310px;
      padding: 10px 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-flow: column wrap;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      margin-bottom: 60px; }
  .main-row {
    display: block; }
  .main-col {
    width: 100%; }
  .footer {
    padding: 15px 0 7px;
    text-align: center; }
    .footer .wrapper {
      display: block; }
    .footer p {
      margin: 0 auto 8px;
      line-height: 1.5;
      max-width: 240px; }
  .card-col {
    width: 50%;
    margin-bottom: 40px; }
  .delivery-descr {
    padding-bottom: 25px; }
  .delivery .wrapper-screen {
    margin-bottom: 0; }
  .delivery .section-bg {
    height: 310px; }
  .delivery .section-title {
    min-height: 310px; }
  .delivery-col {
    margin: 0 0 15px; }
    .delivery-col__wrap {
      margin: 0 15px; }
  .delivery-card {
    padding-bottom: 15px; }
    .delivery-card__wrap {
      margin: 0 15px; }
  .managers-col {
    width: 50%;
    margin-bottom: 25px; }
  .managers h2 {
    text-align: center; }
  .map {
    height: auto; }
    .map .section-title {
      min-height: 450px; }
  #map {
    height: 450px; }
  .contact-row {
    display: block;
    position: static;
    -webkit-transform: translate(0, -30px);
        -ms-transform: translate(0, -30px);
            transform: translate(0, -30px); }
  .contact-card {
    margin: 0 auto 15px;
    max-width: 290px; }
  .managers .wrapper {
    padding-top: 30px; }
  .arrow-bottom {
    background-color: #f7f7f7; }
  .about .wrapper {
    margin-bottom: 0; }
  .about .section-title {
    margin: 0;
    min-height: 184px; }
    .about .section-title h1 {
      margin: auto !important; }
  .about-row {
    padding: 30px 15px 40px; }
  .close {
    display: none; }
  .page-top {
    margin-top: 60px; }
    .page-top .section-title {
      min-height: 100%;
      margin: 0;
      text-align: center;
      display: block; }
      .page-top .section-title h1 {
        font-size: 24px; }
  .page-content__info {
    margin-bottom: 0; }
    .page-content__info-col {
      width: 50%; }
  .page-content__table {
    margin-bottom: 0; }
    .page-content__table-col ul {
      max-width: 160px; }
    .page-content__table-col div p.text-line {
      margin-left: 10px; } }

@media only screen and (max-width: 500px) {
  .cancel {
    top: 10px;
    right: 10px; }
  .modal-right, .modal-left {
    padding: 40px 10px; }
  .modal-title {
    font-size: 18px;
    margin-bottom: 20px; }
  .modal-wrap {
    padding: 40px 15px; }
    .modal-wrap .modal-title {
      font-size: 24px; }
  .card-col, .delivery-col, .managers-col {
    width: 100%; }
  #map {
    height: 310px; }
  .map .section-title {
    min-height: 310px; }
  .page-content__info {
    padding: 20px 0;
    border: none; } }
