*::-webkit-input-placeholder {
  font-size: 14px;
  color: #78909c;
}

*:-moz-placeholder {
  font-size: 14px;
  color: #78909c;
}

*::-moz-placeholder {
  font-size: 14px;
  color: #78909c;
}

*:-ms-input-placeholder {
  font-size: 14px;
  color: #78909c;
}

html {
  overflow-x: hidden;
}

li {
  list-style: none;
}

ul,ol {
  padding: 0;
  margin: 0;
}

p {
  margin-bottom: 0;
}

a,a:hover {
  text-decoration: none;
  transition: .3s linear;
}

body {
  background: #f4f7f9;
  font-family: 'Montserrat', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.container {
  max-width: 1210px!important;
}

.top-bar {
  padding: 9px 0;
}

.top-bar .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 0!important;
}

.top-bar__right {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.top-bar__right p,.top-bar__right ul li a {
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.top-bar__right p {
  margin-right: 30px;
  color: #cdcddd;
}

.offer-drop {
  padding-left: 15px;
  position: relative;
}

.top-bar .offer-drop {
  z-index: 30;
}

.offer-drop::after {
  content: '';
  position: absolute;
  height: 24px;
  width: 1px;
  left: 0;
  top: 50%;
  margin-top: -12px;
  background: #69696f;
}

.offer-drop p {
  font-weight: 600;
  margin: 0;
  padding: 0 15px 10px 0;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.offer-drop p::after {
  font-family: 'FontAwesome';
  content: "\f0d7";
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 10px;
  margin-top: -5px;
  transform: translate(0,-50%);
}

.offer-drop div {
  position: relative;
  padding: 12px 15px 0;
  z-index: 10;
  border-radius: 5px 5px 0 0;
}

.top-bar__mob {
  display: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  margin-left: 10px;
}

.offer-drop.offer-drop__open div, .offer-drop.offer-drop__open ul {
  background: #fff;
}

.offer-drop.offer-drop__open p {
  color: #637280;
  border-color: #eff1f2;
}

.offer-drop ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 13px 15px 0;
  border-radius: 0 0 5px 5px;
  opacity: 0;
  visibility: hidden;
}

.offer-drop.offer-drop__open ul {
  opacity: 1;
  visibility: visible;
}

.offer-drop ul li {
  padding-bottom: 15px;
}

.offer-drop ul li:last-child {
  margin: 0;
}

.offer-drop ul li a {
  color: #637280;
}

.offer-drop i {
  font-size: 12px;
  margin-right: 6px;
  color: #727c93;
}

.menu {
  background: #fff;
}

.menu .container p {
  font-family: 'Raleway', sans-serif;
  padding: 10px 0;
  font-size: 14px;
  color: #78909c;
  display: none;
}

.menu ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.menu ul li {
  padding-right: 10px;
}

.menu ul li:last-child {
  padding-right: 0;
}

.menu ul li a {
  color: #78909c;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  display: inline-block;
  padding: 18px 0;
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: .3s linear;
}

.menu ul li a:hover, .menu ul li a.menu-active {
  color: #263238;
}

.menu ul li a:hover::after, .menu ul li a.menu-active::after {
  background: #263238;
}

.menu ul li a span {
  margin-left: 5px;
}

.menu ul li a i {
  font-size: 14px;
}

.offer {
  padding: 55px 0;
}

.offer-head {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-bottom: 15px;
}

.offer-head__title {
  font-weight: 500;
  font-size: 28px;
  color: #263238;
  font-family: 'Raleway', sans-serif;
}

.bread-crumbs {
  display: flex;
  flex-flow: row wrap;
}

.bread-crumbs li {
  margin-right: 10px;
  position: relative;
}

.bread-crumbs a {
  padding-right: 16px;
  display: inline-block;
  color: #78909c;
  font-size: 14px;
}

.bread-crumbs li::after {
  content: "\f105";
  position: absolute;
  right: 0;
  top: 50%;
  font-family: 'FontAwesome';
  transform: translate(0,-50%);
  font-size: 14px;
  color: #78909c;
}

.bread-crumbs li:last-child::after {
  display: none;
}

.offer {
  overflow-x: auto;
}

.offer::-webkit-scrollbar {
  width: 0;
  background-image: transparent;
  background: transparent;
}
.offer::-moz-scrollbar {
  width: 0;
  background-image: transparent;
  background: transparent;
}
.offer::-ms-scrollbar {
  width: 0;
  background-image: transparent;
  background: transparent;
}
.offer::-o-scrollbar {
  width: 0;
  background-image: transparent;
  background: transparent;
}

.offer .container {
  min-width: 860px;
}

.offer-head__right {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.offer-head__right .offer-drop::after {
  display: none;
}

.offer-head__right .offer-drop p {
  color: #78909c;
  font-weight: normal;
}

.offer-head__right .offer-drop p::after {
  content: "\f107";
  font-size: 16px;
}

.offer-head__right .offer-drop ul img {
  max-width: 40px;
}

.offer-head__right .offer-drop:hover div,.offer-head__right  .offer-drop:hover ul {
  background: #fff;
}

.offer-head__right .offer-drop:hover p {
  color: #637280;
  border-color: #eff1f2;
}

.offer-head__right .offer-drop:hover ul {
  opacity: 1;
  visibility: visible;
}

.offer-search {
  position: relative;
  min-width: 196px;
  max-width: 196px;
  width: 100%;
  height: 47px;
  border: 2px solid rgb(230, 236, 239);
  border-radius: 50px;
  background: transparent;
  overflow: hidden;
  margin-left: 20px;
}

.offer-search i {
  position: absolute;
  color: #a5b5be;
  font-size: 20px;
  left: 28px;
  top: 50%;
  transform: translate(0,-50%);
  font-weight: normal;
}

.offer-search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  padding: 10px 10px 10px 55px;
  color: #78909c;
  font-size: 14px;
  outline: none;
}

.offer-filter {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 2px solid #e9edef;
  margin-bottom: 20px;
}

.offer-filter li {
  margin-right: 45px;
}

.offer-filter li:last-child {
  margin: 0;
}

.offer-filter li a {
  color: #78909c;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 18px 0 16px;
  display: inline-block;
  position: relative;
}

.offer-filter li a::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: transparent;
  transition: .3s linear;
}

.offer-filter li a:hover, .offer-filter li a.offer-filter__active {
  color: #263238;
}

.offer-filter li a:hover::after, .offer-filter li a.offer-filter__active::after {
  background: #263238;
}

.offer-table__head .row,.offer-table__content .row {
  padding: 0 30px;
}

.offer-table__head {
  background: #eaeef0;
  padding: 16px 0;
}

.offer-table__head p {
  font-size: 12px;
  color: #78909c;
  text-transform: uppercase;
  font-weight: 600;
}

.offer-table__content {
  background: #fff;
}

.offer-table__content .row {
  padding: 20px 30px 30px;
  border-bottom: 1px solid #e9edef;
}

.offer-table__content .row:last-child {
  border-bottom: none;
}

.offer-table__content ul li {
  padding-bottom: 17px;
  font-size: 14px;
  color: #78909c;
}

.offer-table__content p {
  font-size: 14px;
  color: #78909c;
}

.offer-table__col-first {
  display: flex;
  flex-flow: row nowrap;
}

.offer-table__col-img {
  margin-right: 15px;
}

.offer-table__col-first p {
  margin-bottom: 25px;
  font-size: 16px;
  color: #263238;
}

.offer-table__col-first a {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  color: #78909c;
  height: 40px;
  padding: 8px 10px;
  border-radius: 23px;
  max-width: 186px;
  width: 100%;
  border: 2px solid #e6ecef;
  text-align: center;
}

.offer-table__col-first a:hover {
  background: #e6ecef
}

@media only screen and (max-width : 960px) {
  .offer-table__head .row {
    padding: 0 10px;
  }
  .offer-table__content .row {
    padding: 20px 10px 30px;
  }
}

@media only screen and (max-width : 860px) {
  .top-bar .container {
    padding-right: 15px!important;
  }
  .top-bar__mob {
    display: block;
  }
  .top-bar__right-text {
    display: none;
  }
  .menu {
    position: relative;
    z-index: 20;
  }
  .menu .container {
    position: absolute;
    width: 100%;
    background: #fff;
    display: none;
  }
  .menu ul {
    display: block;
  }
  .menu ul li a {
    padding: 12px 0;
  }
  .menu .container p {
    display: block;
  }
  .offer-drop::after {
    display: none;
  }
}