@font-face {
  font-family: "Roboto";
  font-weight: 900;
  font-style: normal;
  src: url("../fonts/Roboto-Black/Roboto-Black.eot");
  src: url("../fonts/Roboto-Black/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Black/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black/Roboto-Black.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/Roboto-Medium/Roboto-Medium.eot");
  src: url("../fonts/Roboto-Medium/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular/Roboto-Regular.ttf") format("truetype"); }

*::-webkit-input-placeholder {
  color: #393939; }

*:-moz-placeholder {
  color: #393939; }

*::-moz-placeholder {
  color: #393939; }

*:-ms-input-placeholder {
  color: #393939; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear; }

li {
  list-style: none; }

html {
  overflow-x: hidden; }

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.3;
  color: #393939;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%;
  height: auto; }

button {
  cursor: pointer;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear;
  border: none; }

.main-btn, .second-btn {
  display: inline-block;
  text-align: center;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 14px;
  line-height: 36px;
  border: 1px solid #0059a0;
  padding: 0 10px;
  min-width: 160px; }

.main-btn {
  color: #fff;
  background: #0059a0; }
  .main-btn:hover {
    background: #fff;
    color: #0059a0; }

.second-btn {
  border: 1px solid #0059a0;
  background: #fff;
  color: #0059a0; }
  .second-btn:hover {
    background: #0059a0;
    color: #fff; }

.lk-checkbox {
  display: inline-block;
  position: relative;
  padding: 0 0 0 30px;
  margin-bottom: 20px; }
  .lk-checkbox span {
    dispaly: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #0059a0;
    -webkit-transition: .1s linear;
    -o-transition: .1s linear;
    transition: .1s linear;
    width: 18px;
    height: 18px;
    -webkit-border-radius: 4px;
            border-radius: 4px; }
    .lk-checkbox span::after {
      content: "\f00c";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      font-family: "FontAwesome";
      font-size: 13px;
      line-height: 18px;
      color: #fff;
      text-align: center; }
  .lk-checkbox p {
    font-size: 13px;
    line-height: 18px;
    color: #393939; }
  .lk-checkbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 2; }
    .lk-checkbox input:checked + span {
      background: #0059a0; }

.lk-main {
  padding: 25px 0 100px; }

.lk-wrapper {
  max-width: 1310px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

.lk-crumbs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  padding-bottom: 28px; }
  .lk-crumbs li {
    font-size: 13px;
    line-height: 16px;
    color: #999;
    padding-right: 20px;
    position: relative; }
    .lk-crumbs li::after {
      content: "\f105";
      position: absolute;
      top: 0;
      right: 8px;
      font-family: "FontAwesome";
      font-size: 12px;
      line-height: 16px;
      color: #999; }
    .lk-crumbs li a {
      color: #393939; }
    .lk-crumbs li:last-child::after {
      display: none; }

.lk-title {
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  color: #393939;
  padding-bottom: 42px; }

.lk-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.lk-sidebar {
  min-width: 255px;
  width: 255px; }
  .lk-sidebar-block {
    -webkit-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.16);
            box-shadow: 3px 3px 20px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 30px;
    background: #fff;
    padding: 15px 0 20px; }
    .lk-sidebar-block ul {
      padding-bottom: 65px; }
      .lk-sidebar-block ul li {
        padding: 6px 0; }
        .lk-sidebar-block ul li a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -webkit-flex-flow: row wrap;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          padding: 8px 30px;
          color: #393939;
          position: relative; }
          .lk-sidebar-block ul li a i {
            font-size: 16px;
            margin-right: 10px;
            color: #0059a0;
            width: 20px;
            text-align: center; }
          .lk-sidebar-block ul li a::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 3px;
            height: 100%; }
          .lk-sidebar-block ul li a:hover {
            color: #0059a0; }
          .lk-sidebar-block ul li a.active {
            font-weight: bold;
            color: #0059a0; }
            .lk-sidebar-block ul li a.active::after {
              background: #0059a0; }
  .lk-sidebar-title {
    font-size: 14px;
    line-height: 1.21;
    font-weight: bold;
    color: #393939;
    padding: 0 30px 5px; }
  .lk-sidebar-subtitle {
    display: block;
    font-size: 13px;
    line-height: 1.23;
    font-weight: normal;
    color: #999;
    padding: 0 30px 15px; }
  .lk-sidebar-exit {
    display: block;
    padding: 5px 34px 0; }
    .lk-sidebar-exit i {
      font-size: 16px;
      color: #999; }
    .lk-sidebar-exit span {
      font-size: 14px;
      line-height: 1.21;
      color: #999;
      padding-left: 10px; }
  .lk-sidebar-human {
    padding: 0 30px 15px; }
    .lk-sidebar-human i {
      font-size: 16px;
      color: #393939; }
    .lk-sidebar-human span {
      font-size: 14px;
      font-weight: bold;
      line-height: 1.21;
      color: #393939;
      padding-left: 14px; }
  .lk-sidebar-link {
    padding: 0 30px 15px; }
    .lk-sidebar-link a {
      font-size: 14px;
      line-height: 1.21;
      color: #5392ce; }

.lk-content {
  width: 100%;
  padding-left: 30px; }
  .lk-content-wrap {
    border: 1px solid #cfd3da;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 22px 85px 38px; }
  .lk-content-name {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 35px;
    margin-left: -55px; }
    .lk-content-name i {
      font-size: 30px;
      width: 25px;
      color: #0059a0;
      margin-right: 30px; }
  .lk-content-title {
    font-size: 18px;
    font-weight: bold; }
    .lk-content-title span, .lk-content-title a {
      font-size: 16px;
      font-weight: normal;
      color: #999;
      margin-left: 10px; }
  .lk-content-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .lk-content-col {
    width: 45%; }
    .lk-content-col p {
      font-size: 15px;
      line-height: 1.2;
      font-weight: bold;
      color: #393939;
      padding-bottom: 30px; }

.lk-add {
  font-size: 14px;
  color: #5392ce;
  line-height: 1.21; }
  .lk-add span {
    margin-left: 8px;
    border-bottom: 1px solid #5392ce; }
    .lk-add span:hover {
      border-bottom-color: transparent; }

.lk-organization {
  border: 1px solid #cfd3da;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 22px 0 0; }
  .lk-organization .lk-content-name {
    margin: 0;
    padding: 0; }
    .lk-organization .lk-content-name i {
      width: 40px;
      text-align: center;
      margin-right: 25px; }
  .lk-organization-top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 22px 15px; }
  .lk-organization-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #cfd3da;
    padding: 19px 30px 19px 90px;
    position: relative; }
    .lk-organization-row::after {
      content: "\f013";
      position: absolute;
      top: 50%;
      left: 24px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      font-family: "FontAwesome";
      font-size: 14px;
      color: #cfd3da; }
    .lk-organization-row:last-child {
      border-bottom: none; }
  .lk-organization-col p {
    font-size: 14px;
    line-height: 1.14;
    color: #393939; }
    .lk-organization-col p a {
      color: #393939; }
  .lk-organization-col-1 {
    min-width: 90px; }
  .lk-organization-col-2 {
    width: 53%;
    padding-right: 5px; }
  .lk-organization-col-3 {
    width: 47%;
    padding-right: 5px; }
  .lk-organization-col-4 {
    min-width: 125px; }
  .lk-organization-col-5 {
    min-width: 130px;
    text-align: right; }
  .lk-organization-head .lk-organization-col p {
    color: #999; }
  .lk-organization-head:after {
    display: none; }

.lk-input {
  padding-bottom: 14px; }
  .lk-input label {
    display: block;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    margin-bottom: 6px;
    cursor: pointer; }
    .lk-input label span {
      color: #f82626; }
  .lk-input input, .lk-input select {
    display: block;
    width: 100%;
    height: 40px;
    border: 1px solid #cfd3da;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    padding: 0 30px 0 17px;
    font-size: 14px;
    color: #393939; }
  .lk-input input {
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear; }
    .lk-input input:focus {
      border-color: #0059a0; }
  .lk-input select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: transparent; }
  .lk-input-wrap {
    position: relative; }
    .lk-input-wrap i {
      position: absolute;
      top: 50%;
      right: 13px;
      -webkit-transform: translate(0, -50%);
          -ms-transform: translate(0, -50%);
              transform: translate(0, -50%);
      font-size: 12px;
      color: #0059a0;
      cursor: pointer; }

.lk-select i {
  font-size: 14px;
  color: #0059a0; }

.lk-select select {
  position: relative;
  z-index: 3; }

.lk-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 16px; }

.lk-orders-tab .lk-organization-row {
  padding: 8px 20px 8px 45px;
  min-height: 54px; }
  .lk-orders-tab .lk-organization-row::after {
    content: "\f05a"; }

.lk-orders-tab .lk-organization-col b, .lk-orders-tab .lk-organization-col span {
  display: block;
  font-size: 14px;
  line-height: 19px; }

.lk-orders-tab .lk-organization-col b {
  font-weight: bold;
  padding-bottom: 2px; }

.lk-orders-tab .lk-organization-col span {
  font-weight: 500;
  color: #999; }

.lk-orders-tab .lk-organization-col-1 {
  min-width: 154px;
  text-align: right; }

.lk-orders-tab .lk-organization-col-2 {
  width: 58%;
  padding-left: 50px; }

.lk-orders-tab .lk-organization-col-3 {
  min-width: 120px;
  max-width: 120px;
  width: 100%;
  text-align: right; }

.lk-orders-tab .lk-organization-col-4 {
  min-width: 170px;
  width: 42%;
  text-align: right; }

.lk-orders-tab .lk-organization-col-5 {
  min-width: 135px;
  text-align: right; }

/* -- modal -- */
.lk-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  color: #cfd3da; }

.lk-modal {
  width: 98%;
  max-width: 825px;
  max-height: 98%;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  z-index: 99999;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(0.2);
      -ms-transform: translate(-50%, -50%) scale(0.2);
          transform: translate(-50%, -50%) scale(0.2);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  overflow-y: auto;
  padding: 48px 85px 80px; }
  .lk-modal-title {
    font-size: 20px;
    line-height: 1.2;
    font-weight: normal;
    color: #393939;
    text-align: center;
    padding-bottom: 27px;
    border-bottom: 1px solid #cfd3da;
    margin-bottom: 30px; }
  .lk-modal-subtitle {
    font-size: 15px;
    line-height: 1.2;
    font-weight: bold;
    color: #393939;
    padding-bottom: 30px; }
  .lk-modal-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 20px; }
  .lk-modal-col {
    width: 45%; }
  .lk-modal-checkbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 100%; }
    .lk-modal-checkbox-wrap {
      width: 45%; }
      .lk-modal-checkbox-wrap label {
        display: block;
        font-size: 13px;
        line-height: 16px;
        font-weight: bold;
        margin-bottom: 17px;
        cursor: pointer; }
  .lk-modal-bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .lk-modal.lk-modal-open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
        -ms-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1); }

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: 1000;
  background: rgba(57, 57, 57, 0.3);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; }
  .modal-overlay.open-overlay {
    visibility: visible;
    opacity: 1; }

@media only screen and (max-width: 768px) {
  .main {
    padding: 100px 0 120px;
    min-height: 90vh; }
    .main-img {
      top: 20px; }
    .main-info__title {
      font-size: 34px; } }

@media only screen and (max-width: 500px) {
  .main-info__title {
    font-size: 26px; } }
