@font-face {
  font-family: "FuturaFuturisLight";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaFuturisLight/FuturaFuturisLight.eot");
  src: url("../fonts/FuturaFuturisLight/FuturaFuturisLight.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaFuturisLight/FuturaFuturisLight.woff") format("woff"), url("../fonts/FuturaFuturisLight/FuturaFuturisLight.ttf") format("truetype"); }

@font-face {
  font-family: "Futura";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/FuturaBook/FuturaBook.eot");
  src: url("../fonts/FuturaBook/FuturaBook.eot?#iefix") format("embedded-opentype"), url("../fonts/FuturaBook/FuturaBook.woff") format("woff"), url("../fonts/FuturaBook/FuturaBook.ttf") format("truetype"); }

@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/PTSans-Regular/PTSans-Regular.eot");
  src: url("../fonts/PTSans-Regular/PTSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSans-Regular/PTSans-Regular.woff") format("woff"), url("../fonts/PTSans-Regular/PTSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Elle Man";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/ElleMan-Regular/ElleMan-Regular.eot");
  src: url("../fonts/ElleMan-Regular/ElleMan-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ElleMan-Regular/ElleMan-Regular.woff") format("woff"), url("../fonts/ElleMan-Regular/ElleMan-Regular.ttf") format("truetype"); }

*::-webkit-input-placeholder {
  color: #fff;
  opacity: .5; }

*:-moz-placeholder {
  color: #fff;
  opacity: .5; }

*::-moz-placeholder {
  color: #fff;
  opacity: .5; }

*:-ms-input-placeholder {
  color: #fff;
  opacity: .5; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  border-color: red; }

body input:required:valid,
body textarea:required:valid {
  border-color: green; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

a, a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  -webkit-transition: .3s linear;
  -o-transition: .3s linear;
  transition: .3s linear; }

li {
  list-style: none; }

body {
  font-size: 18px;
  line-height: 1.3;
  font-family: "FuturaFuturisLight", sans-serif;
  overflow-x: hidden;
  color: #000;
  background-position: top center !important;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  position: relative;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  position: relative; }

img {
  max-width: 100%;
  height: auto; }

.wrapper {
  max-width: 1104px;
  margin: 0 auto;
  padding: 0 50px; }

.header {
  padding: 10px 15px 0;
  max-width: 970px;
  width: 100%; }
  .header .topAnons {
    margin-top: 0; }

.topMainMenu__wrapper {
  padding: 8px 0; }

.body-bg__mob {
  display: none;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1900px; }

/* -- main -- */
.main {
  position: relative;
  z-index: 2; }
  .main-mob {
    display: none;
    padding: 18px 15px 30px; }
    .main-mob ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; }
  .main .wrapper {
    background: #fff;
    position: relative;
    z-index: 2; }
  .main-content {
    padding-bottom: 40px; }
  .main-img {
    position: absolute; }
    .main-img__1 {
      top: 1165px;
      right: 0; }
    .main-img__2 {
      left: 0;
      bottom: 40px; }
  .main-top {
    padding: 30px 0;
    text-align: center; }
  .main-tag {
    padding-bottom: 25px; }
    .main-tag a {
      font-family: "PT Sans", sans-serif;
      color: #fff;
      font-size: 15px;
      background: #000;
      display: inline-block;
      padding: 5.5px 31px;
      text-transform: uppercase; }
  .main-title {
    font-size: 35px;
    font-weight: normal;
    font-family: "Elle Man", sans-serif; }
  .main-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 65px; }
    .main-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  .main-info {
    position: relative;
    padding-bottom: 50px; }
    .main-info p {
      font-family: "PT Sans", sans-serif;
      font-size: 24px;
      padding: 0 160px 20px 35px;
      line-height: 1.25; }
    .main-info__social {
      position: absolute;
      top: -15px;
      right: 28px;
      z-index: 10; }
      .main-info__social li a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 50px;
        width: 50px;
        margin-bottom: 3px;
        background: #000; }
        .main-info__social li a img {
          max-height: 25px;
          max-width: 28px;
          margin: auto; }
        .main-info__social li a:hover {
          background: #bb4f24; }
  .main-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 0 0px 35px; }
    .main-row__2 {
      padding: 10px 27px 0px 35px; }
  .main-img__row {
    position: relative; }
  .main-slider {
    min-width: 360px;
    max-width: 360px;
    border: 1px solid #bb4f24;
    position: relative;
    z-index: 3; }
  .main-slide {
    text-align: center;
    padding: 0;
    height: 596px; }
    .main-slide div {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 100%; }
      .main-slide div img {
        margin: auto; }
  .main-descr {
    max-width: 390px;
    padding-bottom: 60px; }
    .main-descr__title {
      font-family: "Elle Man", sans-serif;
      font-weight: normal;
      font-size: 32px;
      padding-bottom: 10px; }
    .main-descr__subtitle {
      text-transform: uppercase;
      color: #7b7b7b;
      font-size: 15px;
      font-family: "Futura", sans-serif;
      font-weight: normal;
      padding-bottom: 30px; }
    .main-descr__link {
      font-size: 18px;
      color: #000;
      display: inline-block;
      border: 3px solid #000;
      text-transform: uppercase;
      text-align: center;
      max-width: 140px;
      width: 100%;
      line-height: 44px; }
      .main-descr__link:hover {
        border-color: #bb4f24;
        background: #bb4f24;
        color: #fff; }
    .main-descr p {
      padding-bottom: 45px;
      font-size: 18px;
      font-family: "FuturaFuturisLight", sans-serif; }
  .main-row__4 {
    padding-right: 27px; }
    .main-row__4 .main-descr {
      padding: 60px 0 0; }
  .main-flower {
    position: absolute;
    z-index: 3; }
    .main-flower__1 {
      left: -134px;
      top: -115px; }
    .main-flower__2 {
      right: -27px;
      bottom: -50px; }
    .main-flower__3 {
      right: -67px;
      top: -162px; }
    .main-flower__4 {
      left: -40px;
      bottom: -7px; }
    .main-flower__5 {
      display: none; }
  .main-square {
    position: absolute; }
    .main-square__1 {
      background: #bb4f24;
      height: 364px;
      width: 314px;
      top: -37px;
      right: -120px; }
    .main-square__2 {
      background: #bb4f24;
      height: 140px;
      width: 110px;
      bottom: -10px;
      left: -32px; }
    .main-square__3 {
      background: #e1a539;
      height: 333px;
      width: 333px;
      top: -72px;
      left: -110px; }
    .main-square__4 {
      height: 155px;
      width: 141px;
      background: #bb4f24;
      bottom: -8px;
      right: -27px; }
  .main-mob__link {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    .main-mob__link a {
      font-size: 37px;
      color: #fff;
      text-transform: uppercase;
      display: inline-block;
      background: #dea03b;
      font-family: "Futura", sans-serif;
      line-height: 68px;
      padding: 0 31.5px; }
      .main-mob__link a:hover {
        background: #fff;
        color: #000; }

.slick-dots {
  bottom: -40px; }
  .slick-dots li {
    width: 11px;
    height: 11px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    border: 1px solid #000;
    margin: 0 2px; }
    .slick-dots li button {
      padding: 0;
      width: 11px;
      height: 11px; }
    .slick-dots li.slick-active {
      background: #000; }

/* -- footer -- */
.footer {
  background: #000;
  min-height: 50px;
  padding: 15px 0;
  position: relative;
  z-index: 2; }
  .footer p {
    text-align: center;
    font-size: 15px;
    color: #aaaaaa;
    font-family: "PT Sans", sans-serif;
    opacity: 1 !important; }
  .footer-mob {
    display: none;
    max-width: 450px;
    margin: 0 auto; }
    .footer-mob p {
      padding-bottom: 20px;
      font-size: 36px;
      text-align: center;
      line-height: 1.3;
      color: #000; }
    .footer-mob ul {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .footer-mob ul li {
        padding: 0 25px; }
        .footer-mob ul li a {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          height: 82px;
          width: 82px;
          -webkit-border-radius: 50%;
                  border-radius: 50%;
          border: 1px solid #000; }
          .footer-mob ul li a img {
            max-height: 40px;
            max-width: 45px;
            margin: auto; }

@media only screen and (max-width: 1020px) {
  .wrapper {
    padding: 0 15px; }
  .main-wrap {
    padding: 0 0 65px; }
  .main-content {
    padding-bottom: 40px; } }

@media only screen and (max-width: 950px) {
  .main-square__1 {
    right: -20px; } }

@media only screen and (max-width: 850px) {
  body {
    background: none !important; }
  .body-bg__mob {
    display: block; }
  .header {
    background: #fff;
    padding-bottom: 30px;
    margin: 0; }
  .main .main-wrap {
    background: transparent;
    padding-bottom: 0; }
  .main-img {
    display: none; }
  .main-video {
    margin: 0; }
  .main-top {
    padding: 0 0 10px;
    background: rgba(225, 165, 57, 0.5); }
  .main-tag {
    padding: 10px 0; }
  .main-info {
    padding: 60px 0; }
    .main-info__social {
      display: none; }
    .main-info p {
      padding: 35px 15px 35px;
      background: rgba(225, 165, 57, 0.5);
      max-width: 600px;
      margin: 0 auto;
      font-size: 30px; }
      .main-info p:last-child {
        padding: 0 15px 15px; }
  .main-content {
    padding: 0; }
  .main-row {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    padding: 80px 15px 70px; }
    .main-row__1, .main-row__4 {
      background: #bb4f24; }
      .main-row__1 .main-descr__title, .main-row__1 .main-descr__subtitle, .main-row__1 .main-descr p, .main-row__4 .main-descr__title, .main-row__4 .main-descr__subtitle, .main-row__4 .main-descr p {
        color: #fff; }
  .main-square {
    display: none; }
  .main-img__row {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    position: relative;
    z-index: 2; }
  .main-descr {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    max-width: 400px;
    padding-bottom: 30px;
    position: relative;
    z-index: 99; }
    .main-descr__link {
      display: none; }
    .main-descr__title {
      font-size: 73px;
      padding-bottom: 0; }
    .main-descr__subtitle {
      font-size: 15px;
      padding-bottom: 45px; }
    .main-descr p {
      font-size: 30px;
      padding: 0;
      line-height: 1.1; }
  .main-slider {
    max-width: 360px;
    width: 100%;
    min-width: auto;
    margin: 0 auto 30px; }
    .main-slider .slick-dots {
      display: none !important; }
  .main-mob__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-right: 40px;
    position: relative;
    z-index: 10; }
  .main-flower {
    z-index: 0; }
    .main-flower img {
      width: 100%; }
    .main-flower__1 {
      width: 755px;
      opacity: 0.65 !important;
      top: -600px;
      left: -160px;
      -webkit-transform: rotate(215deg);
          -ms-transform: rotate(215deg);
              transform: rotate(215deg); }
    .main-flower__2 {
      width: 400px;
      -webkit-transform: rotate(-105deg);
          -ms-transform: rotate(-105deg);
              transform: rotate(-105deg);
      bottom: -200px;
      right: -80px; }
    .main-flower__3 {
      display: none; }
    .main-flower__4 {
      left: auto;
      right: -40px;
      bottom: -150px;
      width: 450px;
      -webkit-transform: rotate(25deg);
          -ms-transform: rotate(25deg);
              transform: rotate(25deg); }
    .main-flower__5 {
      top: -550px;
      left: -20px;
      display: block;
      width: 800px; }
  .main-row__2 .main-mob__link, .main-row__4 .main-mob__link {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 0 0 40px; }
  .main-row__2 {
    padding-bottom: 80px; }
  .main-row__4 .main-descr {
    padding: 0 0 40px 0; }
  .footer {
    background: #fff;
    padding: 130px 0 60px; }
    .footer-top {
      display: none; }
    .footer-mob {
      display: block; } }

@media only screen and (max-width: 640px) {
  .header {
    display: none; }
  .main-mob {
    display: block; }
  .main-tag {
    display: none; }
  .main-top {
    padding: 0; }
  .main-title {
    font-size: 25px;
    line-height: 1;
    padding: 16px 15px; }
  .main-info p {
    max-width: 520px; } }

@media only screen and (max-width: 480px) {
  .main-info p {
    font-size: 24px; }
    .main-info p:first-letter {
      font-size: 60px; } }
