html { overflow-x: hidden; }
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}

::-webkit-input-placeholder  { color:#656565;text-transform: uppercase;}
::-moz-placeholder           { color:#656565;text-transform: uppercase;}/* Firefox 19+ */
::-moz-placeholder           { color:#656565;text-transform: uppercase;}/* Firefox 18- */
::-ms-input-placeholder      { color:#656565;text-transform: uppercase;}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	border: 1px solid red;
	outline: 0;
}
body input:required:valid,
body textarea:required:valid {
	border: 1px solid green;
	outline: 0;
}

body {
	background-color: #fff;
	width: 100%;
	height: 100%;
}

p{
	font-size: 14px;
	line-height: 1.6;
	font-family: 'Raleway', Tahoma, Verdana, sans-serif;
}

li{
	list-style: none;
	font-size: 14px;
}

ul{
	margin: 0;
	padding: 0;
}

a{
	transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    text-decoration: none;
    font-family: 'Raleway', Tahoma, Verdana, sans-serif;
}

a:hover{
	text-decoration: none;
	color: #e25050;
}

h1, h2, h3, h4, h5, h6{
	padding: 0;
	font-family: 'Raleway', Tahoma, Verdana, sans-serif;
	color: #202020;
}

header {
	margin-top: 92px;
}

.header_top {
	background-color: #202020;
	padding: 25px 0;
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	z-index: 1000;
}

#touch_menu {
	position: fixed;
	top: 20px;
    right: 30px;
	font-size: 40px;
	color: #e25050;
	opacity: 0;
	cursor: pointer;
}

.wrapper {
	max-width: 1190px;
	padding: 0 15px;
	margin: 0 auto;
	overflow: hidden;
}

.logo {float: left;}
.logo a {color: #fff;text-decoration: none;}

.logo a span {
	font-family: 'Raleway', Tahoma, Verdana, sans-serif;
	font-weight: bold;
	font-size: 30px;
}

.header_top ul {float: right;}

.header_top ul li {
	float: left;
	font-family: 'Raleway', Tahoma, Verdana, sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 600;
	padding: 10px 10px;
}

.header_top ul li a {color: #fff;text-decoration: none;}
.header_top ul li a:hover {color: #e25050;}

.header_top ul li .active {
	background-color: #e25050;
	padding: 10px 10px;
	color: #fff!important;
}

.sl {position: relative;}

.sll_1,.sll_2,.sll_3,.sll_4 {
	height: 65vh;
	width: 100%;
	outline: 0;
}

.sl .fa-angle-right,.sl .fa-angle-left {
	position: absolute;
	top: 50%;
	font-size: 40px;
	z-index: 999;
	background-color: rgba(37, 37, 37, 1);
	border-radius: 50%;
	cursor: pointer;
	color: #fff;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
.sl .fa-angle-right {right: 3%;padding: 6px 15px 6px 20px;}
.sl .fa-angle-left {left: 3%;padding: 6px 20px 6px 15px;}
.sl .fa-angle-right:hover,.fa-angle-left:hover {background-color: rgba(37, 37, 37, 0.7);}

.sl_text {
	text-transform: uppercase;
	color: #fff;
	position: absolute;
	top: 35%;
	left: 20%;
}
.sl_text h4,.sl_text h2 {margin: 31px 0 0 0;color: #fff;}
.sl_text h4 span,.sl_text h2 span {background-color: #272625; padding: 12px; font-weight: bold;}
.sl_text p span {background-color: #d4504f; padding: 10px;font-family: 'Raleway';}


/* ==============================      FEATURES      ============================== */


section {padding: 50px 0 40px 0;}
.features {
	text-align: center;
}

.features h2 {font-size: 30px;font-weight: bold;}
.features h2 span {color: #e25050;}
.features p {color: #a2a2a2;font-size: 16px;}

.features .fitnes_col {
	margin: 25px 0;
	text-align: center;
}

.features .fitnes_col img {width: 74px;height: 74px;}

.features .fitnes_col h3 {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 20px 0 0 0;
}

.features .fitnes_col p {
	font-size: 14px;
	margin: 15px 0 0 0;
}


/* ==============================      OUR_TEAM      ============================== */


.our_team {background: url(../images/our_team/bg_our_-team.jpg) repeat;}

.our_team h2,.pricing h2 {
	color: #fff;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: 15px 0 0 0;
}

hr {
	width: 45px;
	height: 1px;
	color: #fff;
}

.team {
	margin: 20px auto;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}

.team:hover .descr{
	position: absolute;
	bottom: 0px;
}

.team img {
	width: 270px;
	height: 340px;
	position: relative;
}

.descr {
	-webkit-transition: 0.5s ease;
	-moz-transition: 0.5s ease;
	-ms-transition: 0.5s ease;
	-o-transition: 0.5s ease;
	transition: 0.5s ease;
	text-align: left;
	background-color: rgba(255,255,255,1);
	position: absolute;
	bottom: -270px;
	left: 15px;
	width: 270px;
	height: 100%;
	padding: 15px 20px;
}

.descr h4 {
	color: #202020;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 0;
	font-family: 'Oswald', sans-serif;
}

.descr ul {margin: 50px auto 0;text-align: center;}
.descr span {color: #afafaf;font-size: 13px;text-transform: uppercase;font-family: 'Oswald', sans-serif;}
.descr p {color: #777;font-size: 14px;margin: 20px 0;}
.descr ul li a i {color: #afafaf;font-size: 20px;}
.descr ul li {display: inline-block;margin: 5px;}
.descr ul li a i:hover,.footer_top ul li a:hover {color: #e25050;}


/* ==============================      GALLERY      ============================== */


.gallery {text-align: center;}
.gallery h2,.partners h2 {
	color: #202020;
	font-size: 35px;
	font-weight: bold;
	margin: 15px 0 0 0;
	text-align: center;
}
.photo      {padding: 35px 0 0 0;margin: 0 auto;}
.gallery hr,.partners hr {background-color: #202020;}
.gallery p  {max-width: 650px;margin: 0 auto;}
.photo img  {width: 260px;height: 180px;}
.photo h4   {font-family: 'Oswald', sans-serif;font-size: 16px;margin: 15px 0 5px 0;}
.photo p    {font-family: 'Oswald', sans-serif;color: #afafaf;font-size: 13px;}


/* ==============================      PRICING      ============================== */


.pricing {background-color: #e25050;}
.price {
	text-align: center;
	padding: 50px 0;
	color: #fff;
	background-color: #d14343;
	margin: 15px auto 0;
}

.price h4 {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	margin-bottom: 35px;
}

.price h3 {
	color: #fff;
	font-size: 28px;
	font-family: 'Oswald', sans-serif;
}

.price ul      {margin: 45px 0 55px 0;}
.price ul li   {margin: 20px 0;font-size: 15px;}
.price ul li i {margin: 0 15px 0 0;}
.price p a {
	padding: 18px 50px;
 	background-color: #e25050;
 	color: #fff;
 	text-transform: uppercase;
 	font-size: 16px;
 	font-family: 'Oswald', sans-serif;
 }

#price {
 	text-align: center;
	padding: 47px 0;
	color: #fff;
	background-color: #e25050;
	margin: 15px auto 0;
	border: 3px solid #fff;
}

#price p a {background-color: #fff;color: #e25050;}


/* ==============================      PARTNERS      ============================== */


.partner {
	height: 100px;
	max-width: 1050px;
	position: relative;
	margin: 50px auto 0;
}

.partner img {
	margin: 0 15px;
	width: 200px;
	height: 50px;
}

.partner .fa-angle-right,.partner .fa-angle-left {position: absolute;top: 10%;font-size: 40px;z-index: 999;cursor: pointer;color: #c9c9c9;}
.partner .fa-angle-right {right: -5%;}
.partner .fa-angle-left {left: -5%;}


/* ==============================      FOOTER      ============================== */


footer              {padding: 30px 0;background-color: #202020; overflow: hidden;color: #c6c6c6;}
.footer_top         {padding: 0 0 15px 0;border-bottom: 1px solid #323232; overflow: hidden;}
.footer_top p       {color: #fff;max-width: 740px;line-height: 1.8;float: left;}
.footer_top p span  {color: #717171;}
.footer_top ul      {float: right;}
.footer_top ul li   {float: left;margin: 5px 10px;}
.footer_top ul li a {color: #fff; font-size: 20px;}

.birds{
	font-size: 40px;
	color: #fff;
	float: left;
	margin: 5px 15px 0 0;
	padding-bottom: 20px;
}

.footer_mid {padding: 25px 0;}

.footer_mid h4 {
	font-size: 20px;
	color: #fff;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	margin: 30px 0;
}

.footer_mid p {font-size: 15px;margin-bottom: 30px;}
#info p       {margin-bottom: 2px;}
#info i       {font-size: 13px;margin-right: 8px; }
#info .mobile {font-size: 22px;}

.footer_mid input {
	float: left;
	margin: 0 15px 20px 0;
	background-color: transparent;
	border: 1px solid #656565;
	padding: 5px 10px;
	/*width: 30%;*/
	width: 205px;
	border-radius: 5px;
}

.footer_mid textarea {
	width: 64%;
	height: 105px;
	background-color: transparent;
	border: 1px solid #656565;
	padding: 10px 10px;
	resize: none;
	float: left;
	border-radius: 5px;
}

.footer_mid button {
	text-transform: uppercase;
	color: #fff;
	padding: 6px 8px 4px 8px;
	margin: 0 0 0 15px;
	background-color: #e25050;
	border: 0;
	border-bottom: 4px solid #e25050;
	border-radius: 5px;
	outline: none;
}

.footer_mid button i      {font-size: 20px;margin: 0 0 0 10px}
.footer_mid button:hover  {border-bottom: 2px solid #e25050; margin: 2px 0 0 15px; }
.footer_mid button:active {border-bottom: 0; margin: 4px 0 0 15px; }
.footer_mid form p        {font-size: 14px; margin: 15px 0 20px 0;}
.footer_mid form span     {font-size: 14px; margin: 0 0 0 20px;}

.footer_bottom          {padding: 40px 0 0 0;font-size: 15px;}
.footer_bottom .left    {float: left;}
.footer_bottom .right   {float: right;}
.footer_bottom .right a {color: #e25050;}
.right a:hover          {color: #fff;}